# --- General ---
.DS_Store
Thumbs.db
*.rar
*.zip
*.7z
*.bak
*.tmp
*.temp

# --- Node.js & Dependencies ---
**/node_modules/
**/dist/
**/build/
**/coverage/
.nyc_output/
*.log

# --- Java / Maven ---
**/target/
.mvn/wrapper/maven-wrapper.jar

# --- IDEs and Editors ---
.vscode/
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# --- Environment & Logs ---
.env
*.env
*.log
logs/
.opencode
opencode.jsonc